# Dependencies
node_modules
.pnp
.pnp.js

# Production & Build outputs
dist
build
.next
out
.output

# Testing
coverage

# Turbo
.turbo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

# Next.js
**/next-env.d.ts
**/.next/
**/out/
next-env.d.ts
.next/
out/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo

# Cache
**/.cache
.eslintcache 